name: CI CHECKS

on:
  push:
    branches:
      - main

jobs:
  test: 
    name: Test Application
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
          go-version: ^1.25

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Downloads
      run: go get -t ./...

    - name: Run Test 
      run: go test ./...

  build:
    name: Build App
    runs-on: ubuntu-latest
    steps:

    - name: Set Up Go.1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Build
      run: make build

    - name: Copy Files
      run: |
           mkdir artifacts
           cp api artifacts/.

    - name: Archive
      uses: actions/upload-artifact@v6
      with:
          name: api
          path: artifacts

