name: CI CHECKS

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  format-check:
    name: Check formatting
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Run Format Check
      run: make check-format
    - name: Vet
      run: go vet ./...
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Lint
        uses: golangci/golangci-lint-action@v9

  test: 
    name: Test Application
    needs:
      - format-check
      - lint
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
          go-version: ^1.25

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Run Test 
      run: make test

    - name: Coverage Check 
      run: make coverage

    - name: Generate Report 
      run: make report

    - name: Copy Files 
      run: |
        mkdir reports
        cp cover.html reports/.


    - name: Archive
      uses: actions/upload-artifact@v6
      with:
          name: reports
          path: reports

  build:
    name: Build App
    runs-on: ubuntu-latest
    needs: test
    steps:

    - name: Set Up Go.1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Build
      run: make build

    - name: Copy Files
      run: |
           mkdir artifacts
           cp api artifacts/.

    - name: Archive
      uses: actions/upload-artifact@v6
      with:
          name: api
          path: artifacts

  deliver:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Download binary
        uses: actions/download-artifact@v6
        with:
          name: api

      # - name: Changelog
      #  uses: scottbrenner/generate-changelog-action@master
      #  id: Changelog
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Still in experimentation phase
          draft: true
          prerelease: true
      - name: Upload Release Binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: api
          asset_name: api
          asset_content_type: application/octet-stream

  # deploy-function:
  #   name: Deploy FaaS
  #   runs-on: ubuntu-latest
  #   needs: test
  #   if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
  #   steps:
  #   - name: Check out code into the Go module directory
  #     uses: actions/checkout@v5
  #     with:
  #         fetch-depth: 0
  #   - id: auth
  #     name: Authenticate to Google Cloud
  #     uses: google-github-actions/auth@v2
  #     with:
  #         credentials_json: ${{ secrets.gcp_credentials }}
  #   - name: Deploy function
  #     id: deploy
  #     uses: google-github-actions/deploy-cloud-functions@v2
  #     with:
  #         name: translate
  #         entry_point: Translate
  #         runtime: go125
  #         project_id: ${{ secrets.project_id }}
  #         region: us-central1
  #   - id: test
  #     run: curl "${{ steps.deploy.outputs.url }}/hello"

  # deploy-paas:
  #   name: Deploy PaaS
  #   runs-on: ubuntu-latest
  #   needs: test
  #   if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
  #   steps:
  #   - name: Check out code into the Go module directory
  #     uses: actions/checkout@v6
  #     with:
  #       fetch-depth: 0
  #   - id: auth
  #     name: Authenticate to Google Cloud
  #     uses: google-github-actions/auth@v2
  #     with:
  #         credentials_json: ${{ secrets.gcp_credentials }}
  #   - name: Deploy App
  #     id: deploy
  #     uses: google-github-actions/deploy-appengine@main
  #   - id: test
  #     run: curl "${{ steps.deploy.outputs.url }}/translate/hello"


