name: CI CHECKS

on:
  push:
    branches:
      - main

jobs:
  test: 
    name: Test Application
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
          go-version: ^1.25

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Run Test 
      run: make test

    - name: Coverage Check 
      run: make coverage

    - name: Generate Report 
      run: make report

    - name: Copy Files 
      run: |
        mkdir reports
        cp cover.html reports/.


    - name: Archive
      uses: actions/upload-artifact@v6
      with:
          name: reports
          path: reports

  build:
    name: Build App
    runs-on: ubuntu-latest
    needs: test
    steps:

    - name: Set Up Go.1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25

    - name: Check out code into the Go module directory
      uses: actions/checkout@v5

    - name: Build
      run: make build

    - name: Copy Files
      run: |
           mkdir artifacts
           cp api artifacts/.

    - name: Archive
      uses: actions/upload-artifact@v6
      with:
          name: api
          path: artifacts

  deliver:
    name: Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Download binary
        uses: actions/download-artifact@v6
        with:
          name: api

      # - name: Changelog
      #  uses: scottbrenner/generate-changelog-action@master
      #  id: Changelog
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Still in experimentation phase
          draft: true
          prerelease: true
      - name: Upload Release Binary
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: api
          asset_name: api
          asset_content_type: application/octet-stream

  deploy-function:
    name: Deploy FaaS
    runs-on: ubuntu-latest
    needs: test
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
    - name: Check out code into the Go module directory
      uses: actions/checkout@v5
      with:
          fetch-depth: 0
    - id: auth
      name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
          credentials_json: ${{ secrets.gcp_credentials }}
    - name: Deploy function
      id: deploy
      uses: google-github-actions/deploy-cloud-functions@v2
      with:
          name: translate
          entry_point: Translate
          runtime: go125
          project_id: ${{ secrets.project_id }}
          region: us-central1
    - id: test
      run: curl "${{ steps.deploy.outputs.url }}/hello"

